p {
  width: 264px;
  height: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.body {
  position: relative;
  width: 1440px;
  height: 2592px;
  background: #ffffff;
}
.header {
  box-sizing: border-box;

  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;

  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
  text-decoration-line: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo1 {
  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.list {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;

  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
.nav-01 {
  width: 48px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.nav-02 {
  width: 48px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-03 {
  width: 48px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.contacts {
  list-style-type: none;
  text-decoration: none;
}

.email {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: #434455;
}

.phone {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: #434455;
}

.hero {
  /* Dark-bg */
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;

  background: #2e2f42;
}
.hero-text {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 188px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.order-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.order-button:hover {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.order-button-text {
  width: 105px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.feature-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 156px;
  top: 792px;
}

.strategy {
  width: 264px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.strategy-text {
  width: 264px;
  height: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.feature-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 444px;
  top: 792px;
}

.punctuality {
  width: 264px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.punctuality-text {
  width: 264px;
  height: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 732px;
  top: 792px;
}

.diligence {
  width: 264px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.diligence-text {
  width: 264px;
  height: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 1020px;
  top: 792px;
}

.technologies {
  width: 264px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.technologies-text {
  width: 264px;
  height: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.section-02-title {
  position: absolute;
  width: 323px;
  height: 40px;
  left: 559px;
  top: 1016px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.img-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 156px;
  top: 1128px;

  box-sizing: border-box;

  width: 360px;
  height: 300px;

  background: url(2368.jpg);

  border: 1px solid #e7e9fc;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.img-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 540px;
  top: 1128px;

  box-sizing: border-box;

  width: 360px;
  height: 300px;

  background: url(2225.jpg);

  border: 1px solid #e7e9fc;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.img-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 924px;
  top: 1128px;

  box-sizing: border-box;

  width: 360px;
  height: 300px;

  background: url(photo-1545235617-7a424c1a60cc.jpg);

  border: 1px solid #e7e9fc;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.section-03 {
  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;

  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;

  background: #f4f4fd;
}
.section-03-title {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 120px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.team-member-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 156px;
  top: 232px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name-1 {
  width: 134px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-member-position-1 {
  width: 128px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.team-member-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 444px;
  top: 232px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name-2 {
  width: 88px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-member-position-2 {
  width: 144px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.team-member-card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 732px;
  top: 232px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name-3 {
  width: 130px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-member-position-3 {
  width: 75px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.team-member-card-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 1020px;
  top: 232px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name-4 {
  width: 127px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-member-position-4 {
  width: 85px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #434455;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;

  background: #2e2f42;
}
.footer-text {
  position: absolute;
  width: 264px;
  height: 112px;
  left: 156px;
  top: 2380px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 2380px;
}

.logo1-2 {
  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo2-2 {
  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #f4f4fd;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-desc {
  position: absolute;
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2420px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #f4f4fd;
}
